<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Testimonials</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'r_portfolio/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <h1>About Me!</h1>
    <p>"I am a Python web developer and love going to a hackathons. Wayfarers freegan taxidermy chicharrones XOXO."</p>
    <p>" Authentic direct trade skateboard hot chicken bicycle rights cold-pressed," </p>
    <p>"raw denim heirloom normcore viral banh mi hell of chicharrones farm-to-table whatever. Beard wolf before they sold out ugh, banh mi viral shaman Marfa mlkshk shaman street art, venmo before they sold out biodiesel synth celiac raclette kale chips distillery quinoa next lev</p>
    <p>"sustainable pabst gastropub af master cleanse cronut hoodie farm-to-table. Pinterest everyday carry edison bulb hexagon deep v, asymmetrical heirloom etsy health goth."</p>
  </body>
</html>
